services:
  backend:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_ORIGINS=http://localhost,http://72.60.146.2
      - CORS_ALLOW_CREDENTIALS=true
      - MONGODB_URL=mongodb://mongodb:27017/projeto_silvana
    depends_on:
      - mongodb
    restart: unless-stopped

  frontend:
    build:
      context: ./react
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=projeto_silvana
    restart: unless-stopped

volumes:
  mongodb_data: